body {
  padding: 0 !important;
}
.avatar {
  background-image: url('https://i.ibb.co/sgR4jHr/me.png');
  background-size: cover;
  width: 100%;
  height: 100%;

  border-radius: 50%;
}
.square {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin: auto;
  padding: 6px;
}
.name-container {
  text-align: center;
}
.name {
  display: inline-block;
  line-height: 10rem;
}
.info-chips-container {
  padding-top: 1.5rem;
}

.tag-list {
  max-width: max-content;
}

mat-drawer-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.example-spacer {
  flex: 1 1 auto;
}

.cards-container {
  padding: 0;
  padding-top: 0.5rem;
  max-width: 1170px;
  margin: auto;
}

.mat-expansion-panel-header {
  height: fit-content;
  padding: 1rem;
}
.mat-expansion-panel {
  margin-bottom: 0.3rem;
}

.mat-expansion-panel:not(.mat-expanded) {
  box-shadow: none;
}
.mat-expansion-panel {
  box-shadow: none;
}
a {
  text-decoration: none;
}

.chip-clickable {
  cursor: pointer;
}
.chip-nonclickable:hover::after {
  opacity: 0 !important;
}

.github-icon-dark,
.github-icon-light {
  background-size: cover;
  width: 1rem;
  height: 1rem;
}
.github-icon-dark {
  background-image: url('https://i.ibb.co/34z1pSd/Git-Hub-Mark-32px.png');
}
.github-icon-light {
  background-image: url('https://i.ibb.co/pbr8b64/Git-Hub-Mark-Light-32px.png');
}
.image-as-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.skill-panel > .mat-expansion-panel-header {
  padding: 0 1.5rem 0.5rem 1.5rem;
}
/* .skill-panel > .mat-expansion-panel-content > .mat-expansion-panel-body {
  padding: 0 !important;
} */

.year {
  font-weight: 600;
  border-left: 5px solid #ffd740;
  padding-left: 0.5rem;
}
.experience-desc {
  font-weight: 700;
}
