@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$primary: #3f51b5;
$accent: #ff4081;

.mat-primary {
  background: $primary;
  color: #fff;
}
.mat-accent {
  background: $accent;
  color: #fff;
}

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.border-accent {
  box-shadow: 0px 0 0px 2px #ff4081 !important;
}
.border-primary {
  box-shadow: 0px 0 0px 2px #3f51b5 !important;
}
.gradient1 {
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #3f51b5 0%,
    #c850c0 46%,
    #ff4081 100%
  );
}
.mat-drawer-container {
  background-color: #fff !important;
}
// .row-eq-height {
//   display: -webkit-box;
//   display: -webkit-flex;
//   display: -ms-flexbox;
//   display: flex;
// }
.ma {
  margin: auto !important;
  width: fit-content;
}

.mat-card-header {
  // background-color: #673ab7;
  // color: #fff;
  padding: 16px 16px 0 16px;
  border-radius: 4px 4px 0 0;
  box-shadow: 0px 3px 4px 0px #00000059;
}
.mat-card.example-card {
  padding: 0 !important;
}
.example-card > mat-card-content {
  padding: 1rem;
}

.tag-list {
  padding-top: 0.5rem;
}
