@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

//@use '~@angular/material' as mat;
// @include mat.core();
// $my-palette: mat.$indigo-palette;

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.mat-primary {
  background-color: #673ab7;
  color: #fff;
}
.mat-accent {
  background-color: #ffd740;
  color: #000;
}
.gradient1 {
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/**  Copyright 2021 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license */
